form {
  display: block;
  margin: 0 auto;
  padding: 10px 25px;
  max-width: 300px;
}
label {
  display: block;
  margin-bottom: 5px;
}
.label {
  font-weight: 700;
}

input {
  display: block;
  margin: 0 auto;
  padding-left: 20px;
  width: 200px;
  height: 30px;
  border: 1px solid #808080;
  border-radius: 4px;
}

input:focus {
  outline: transparent;
  border: 2px solid #4169e1;
}

.btn_submit {
  display: inline-flex;
  align-items: center;

  --h: 30px;
  min-width: 150px;
  height: var(--h);
  line-height: var(--h);
  padding: 0px 25px;

  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #6369a0;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
